<%- include('../layout/boilerplate')  %> 
    <h1><%= product.name %> </h1>
    <ul>
        <li>Price: $<%= product.price %> </li>
        <li>Description: <%= product.description  %>  </li>
        <li>Brand: <%= product.brand  %> </li>
    </ul>

    <a href="<%= product._id %>/edit">Edit Product</a>

    <form action="<%= product._id %>?_method=DELETE" method="POST" >
        <button>Delete</button>
    </form>

    <a href="/products">Back to homepage</a>
